{% extends "base.html" %}
{% block start %}
<div class="container mt-5">
<table class="table table-striped">
    <h2><b>Name of student :    </b>  {{queryset.first.student}} </h2>
    <h3><b>Rank:</b>   {{queryset.first.student.studentreportcard.first.student_rank}}</h3>
    <h3><b>Total:</b>   {{total_marks.total_marks}}</h3>
    <h3><b>Date of Result: </b>   {{queryset.first.student.studentreportcard.first.date_of_report_card_genration}}</h3>
    <thead>
        <tr>
          <th scope="col">Sr.no</th>
          <th scope="col">Subjects</th>
          <th scope="col">Mark</th>
        </tr>
      </thead>
    <tbody>
        {% for marks in queryset %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>   <b> {{marks.subject.subject_name}} </b>
            </td>
            <td>{{marks.marks}} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}